.frag {
  height: 45rem;
}
.header {
  top: 0;
  left: 0;
  height: 5rem;
  background-color: #008080;
  color: black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
  padding: 0% 0%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0%;
}
.header h1 {
  font-style: italic;
  font-size: 2rem;
  font-weight: 200;
  color: rgb(27, 20, 20);
  cursor: pointer;
  margin: 0;
  margin-right: 10rem;
  padding-right: 13rem;
}
.header h1:hover {
  color: rgb(240, 240, 157);
}

.header ul {
  display: flex;
  list-style: none;
  height: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
  color: aliceblue;
  cursor: pointer;
}
.header li {
  margin: 0 1rem;
  width: 5rem;
}
.header a {
  color: white;
  text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: rgb(182, 159, 159);
  padding-bottom: 0.25rem;
  border-bottom: 4px solid rgb(141, 151, 52);
}
.container {
  position: relative;
}
.main-image {
  z-index: 0;
  overflow: hidden;
  height: 40rem;
  width: 100%;
  color: antiquewhite;
}

.main-image img {
  object-fit: cover;
  width: 110%;
  height: 100%;
  background-attachment: fixed;
  transform: rotateZ(-2deg) translateY(-2rem) translateX(-1rem);
  opacity: 0.3;
}
.content {
  backface-visibility: hidden;
  display: flex;
  align-content: flex-start;
  position: absolute;
  top: 12rem;
  left: 2rem;
  font-size: 3rem;
  font-style: oblique;
  color: burlywood;
}
.hustle {
  position: absolute;
  top: 18rem;
  left: 2rem;
  font-size: 2.9rem;
  font-style: oblique;
  color: rgb(245, 245, 92);
}
.icon {
  font-size: 2rem;
  color: burlywood;
}
.icon:hover {
  color: rgb(245, 13, 91);
}
.list {
  height: 2.1rem;
  width: 5rem;
  background-color: rgb(175, 112, 41);
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  transition: transform 0.2s;
}
.list:hover {
  color: rgb(36, 228, 36);
  transform: scale(1.2);
}
