.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #bd9d63;
  color: white;
  font-size: 1rem;
  border-radius: 25px;
  font-weight: bold;
  margin: 0;
}

.button:hover,
.button:active {
  background-color: rgb(73, 3, 3);
}
